<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center; margin-left: -12.5%">
      <span style="color:white">Cine</span><span style="color:violet">Sync</span>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-item>
    <input type="text" placeholder="Search Movies" [formControl]="searchControl">
  </ion-item>
  <ion-list>
    <ion-item *ngFor="let movie of results$ | async" [routerLink]="['/movies', movie.id]">
      <ion-avatar slot="start">
        <img [src]="imageBaseUrl + '/w92' + movie.poster_path" />
      </ion-avatar>
      {{ movie.title }}
    </ion-item>
  </ion-list>
</ion-content>
<app-footer></app-footer>
