ion-footer {
  ion-toolbar {
    --background: #eeeeee;

    ion-row {
      justify-content: center;
      gap: 6px;
    }

    .nav-col {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    ion-icon {
      margin-bottom: 4px;
    }

    .round-button {
      --border-radius: 50%;
      --width: 50px;
      --height: 50px;
    }
  }
}
