<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center; margin-left: -12.5%">
      <span style="color:white">Cine</span><span style="color:violet">Sync</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <swiper-container>
    <swiper-slide>
      <ion-item button *ngFor="let item of movies.slice(0,1)" [routerLink]="[item.id]">
        <ion-avatar slot="start">
          <img [src]="imageBaseUrl + '/w92' + item.poster_path"/>
        </ion-avatar>

        <ion-label class="ion-text-wrap">
          <h3>{{ item.title }}</h3>
          <p>{{ item.release_date | date:'y' }} <ion-badge><ion-icon name="star"></ion-icon> {{ item.vote_average }} </ion-badge>  </p>
        </ion-label>

      </ion-item>
    </swiper-slide>
    <swiper-slide>
      <ion-item button *ngFor="let item of movies.slice(1,2)" [routerLink]="[item.id]">
        <ion-avatar slot="start">
          <img [src]="imageBaseUrl + '/w92' + item.poster_path"/>
        </ion-avatar>

        <ion-label class="ion-text-wrap">
          <h3>{{ item.title }}</h3>
          <p>{{ item.release_date | date:'y' }} <ion-badge><ion-icon name="star"></ion-icon> {{ item.vote_average }} </ion-badge>  </p>
        </ion-label>

      </ion-item>
    </swiper-slide>
    <swiper-slide>
      <ion-item button *ngFor="let item of movies.slice(2,3)" [routerLink]="[item.id]">
        <ion-avatar slot="start">
          <img [src]="imageBaseUrl + '/w92' + item.poster_path"/>
        </ion-avatar>

        <ion-label class="ion-text-wrap">
          <h3>{{ item.title }}</h3>
          <p>{{ item.release_date | date:'y' }} <ion-badge><ion-icon name="star"></ion-icon> {{ item.vote_average }} </ion-badge>  </p>
        </ion-label>

      </ion-item>
    </swiper-slide>
  </swiper-container>
  <ion-list>
    <ion-item button *ngFor="let item of movies.slice(3)" [routerLink]="[item.id]">
      <ion-avatar slot="start">
        <img [src]="imageBaseUrl + '/w92' + item.poster_path"/>
      </ion-avatar>

      <ion-label class="ion-text-wrap">
        <h3>{{ item.title }}</h3>
        <p>{{ item.release_date | date:'y' }}</p>
      </ion-label>

      <ion-badge slot="end"><ion-icon name="star"></ion-icon> {{ item.vote_average }}</ion-badge>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles"
                                 loadingText="Loading more data..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>


<app-footer></app-footer>


